<dx-popup [showTitle]="true"
          [visible]="Visible"
          [height]="'auto'"
          (onHiding)="Close()"
          [showCloseButton]="true"
          width="95%">
  <h3 style="color: #728e94;">{{Title}}</h3>
  <form (submit)="Submit()">
    <dx-form [formData]="Form"
             [showColonAfterLabel]="false"
             [showValidationSummary]="false"
             labelLocation="top">
      <dxo-col-count-by-screen
        [xs]="6"></dxo-col-count-by-screen>
      <dxi-item dataField="id"
                [colSpan]="2"
                [label]="{ text: 'Liteal' }"
                editorType="dxTextBox"
                [editorOptions]="{
                  showClearButton: true,
                  maxLength: 2,
                  inputAttr: {
                    autocapitalize: 'characters'
                  }
                }">
        <dxi-validation-rule type="required" message="Requerido"></dxi-validation-rule>
      </dxi-item>
      <dxi-item dataField="name"
                [colSpan]="4"
                [label]="{ text: 'Nombre' }"
                editorType="dxTextBox"
                [editorOptions]="{
                  showClearButton: true,
                  maxLength: 15
                }">
        <dxi-validation-rule type="required" message="Requerido"></dxi-validation-rule>
      </dxi-item>
      <dxi-item itemType="button"
                horizontalAlignment="center"
                [colSpan]="6"
                [buttonOptions]="{
                  text:'Guardar',
                  icon: 'save',
                  useSubmitBehavior: true
                }"></dxi-item>
    </dx-form>
  </form>

</dx-popup>
