Backend/Transporte/.vs/
Backend/Transporte/Transporte/obj/
Backend/Transporte/Transporte.Test/obj/
Backend/Transporte/Transporte.Model/obj/
Backend/Transporte/Transporte.Functionality/obj/
Backend/Transporte/Transporte/bin/
Backend/Transporte/Transporte.Test/bin/
Backend/Transporte/Transporte.Model/bin/
Backend/Transporte/Transporte.Functionality/bin/
Backend/Transporte/Transporte.Database/obj/
Backend/Transporte/Transporte.Database/bin/
Backend/Transporte/Transporte.DAL/obj/
Backend/Transporte/Transporte.DAL/bin/
Backend/Transporte/Transporte.BL/bin/
Backend/Transporte/Transporte.BL/obj/
Backend/Transporte/Transporte.API/obj/
Backend/Transporte/Transporte.API/bin/
Backend/Transporte/Transporte.API/log/
Backend/Transporte/Transporte.API/.config/
Backend/Transporte/Transporte.API/Properties/PublishProfiles/
Backend/Transporte/Transporte.Report/obj/
Backend/Transporte/Transporte.Report/bin/
Backend/Transporte/Transporte.Report/log/
*.user
*.bak
*.dbmdl
*.jfm