.vs/
Transporte/obj/
Transporte/bin/
Transporte.Test/obj/
Transporte.Test/bin/
Transporte.Model/obj/
Transporte.Model/bin/
Transporte.Functionality/obj/
Transporte.Functionality/bin/
Transporte.Database/obj/
Transporte.Database/bin/
Transporte.DAL/obj/
Transporte.DAL/bin/
Transporte.BL/bin/
Transporte.BL/obj/
Transporte.API/obj/
Transporte.API/bin/
Transporte.API/log/
Transporte.API/.config/
Transporte.API/Properties/PublishProfiles/
Transporte.Report/obj/
Transporte.Report/bin/
Transporte.Report/log/
Dockerfile